* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    height: 100%;
    background-color: white;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  width: 80%;
  /* border: 1px solid rebeccapurple; */
  margin: 0 auto;
  height: 3em;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  margin: 0 1em;
  /* color: #11ff74; */
  color:  #7A7A7A;
  padding: 0.3em 0.5em;
  /* border-bottom: 3px solid transparent; */
}

.nav-link:hover {
  border-bottom: 2px solid #11ff74;
}

#about {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  /* border: 1px solid chartreuse; */
  width: 80%;
  margin: 0 auto;
  height: 50%;
}

#about-photo {
  /* margin: 0 auto; */
  /* border: 1px solid aqua; */
  max-width: 65%;
  max-height: 65%;
  /* height: auto; */
  border-radius: 50%;
  margin: 1em 0;
  /* display: block; */
}

#about-title {
  font-weight: bold;
  font-size: 3.2rem;
  color: #363636;
}

#about-subtitle {
  color: #515151;
  font-size: 2.4rem;
  /* font-weight: bold; */
  /* margin-top: 0.2em; */
}

#projects {
  text-align: center;
  margin-top: 3em;
  font-size: 2rem;
}

#projects > hr {
  width: 15%;
  margin: 0.4em auto;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#project-links {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 15rem;
  /* margin: 0 auto; */
  justify-content: space-around;
  /* margin-top: 3em; */
}

.project-link {
  display: block;
  width: 20%;
  height: 100%;
  border: 2px solid black;
}

.project-link > img {
  max-width: 100%;
  max-height: 100%;
  /* height: auto; */
}

#contact {

}

:root {
  background-color: lightcoral;
}