* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  width: 15%;
  margin: 0.4em auto;
  border: 0;
  height: 1px;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  height: 3em;
  margin: 0 auto;
  width: 80%;
}

.nav-link {
  margin: 0 1em;
  padding: 0.3em 0.5em;
  text-decoration: none;
}

.nav-link:hover {
  border-bottom: 2px solid #00bfff;
}

#mobile-menu {
  display: none;
}

#about {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 50%;
  margin: 0 auto;
  width: 80%;
}

#about-photo {
  border-radius: 50%;
  margin: 1em 0;
  max-height: 65%;
  max-width: 65%;
}

#about-title {
  font-size: 3.2rem;
  font-weight: bold;
  margin-top: 0.5em;
}

#about-subtitle {
  font-size: 2.4rem;
}

#about-text {
  margin: 0 auto;
  text-align: center;
  width: 50%;
}

#projects {
  font-size: 2rem;
  height: auto;
  margin-top: 7em;
  text-align: center;
}

#projects > p {
  font-weight: bold;
}

#project-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0 auto;
  width: 80%;
}

.project-link {
  display: block;
  height: 150px;
  margin: 2em 1em;
  width: 320px;
}

.project-link > p {
  margin-top: 0.5em;
}

.project-link > img {
  max-height: 100%;
  max-width: 100%;
}

#contact {
  font-size: 2rem;
  margin-top: 4em;
  text-align: center;
}

#contact > p {
  font-weight: bold;
}

#contact-links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

#contact-links > a {
  margin: 1em;
}

i:not(.fa-lg) {
  display: none;
}

/* Themes */

.light-theme {
  background-color: #d3dadf;
  color: #313b44;
}

.hr-light {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

.dark-theme {
  background-color: #232b32;
  color: #c3b6a2;
}

.hr-dark {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(195, 182, 162, 1),
    rgba(0, 0, 0, 0)
  );
}

/* Media queries */

@media (max-width: 899px) {
  hr {
    width: 30%;
  }

  nav {
    width: 100%;
  }

  #about {
    width: 100%;
  }

  #about-text {
    text-align: center;
    width: 65%;
  }

  #project-links {
    width: 100%;
  }

  #contact {
    margin-top: 4em;
  }
}

@media (max-width: 530px) {
  hr {
    width: 50%;
  }

  nav {
    display: none;
  }

  .nav-link {
    margin-top: 0.2em;
  }

  .nav-menu {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    height: auto;
    margin: 0;
  }

  #mobile-menu {
    display: block;
    float: right;
    height: 25px;
    margin: 0.5em 0.5em 0 0;
    text-align: center;
    width: 40px;
  }

  .line {
    background-color: #7a7a7a;
    display: inline-block;
    height: 2px;
    margin: 3px 0;
    transition: all 0.2s ease-in-out;
    width: 25px;
  }

  #mobile-menu.active .line:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.active .line:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.active .line:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }

  #about {
    width: 100%;
  }

  #about-title {
    margin-top: 0;
  }

  #about-text {
    text-align: center;
    width: 80%;
  }

  #projects {
    margin-top: 8em;
  }

  #project-links {
    width: 100%;
  }

  .project-link {
    margin: 1.5em;
  }

  #contact {
    margin-top: 4em;
  }

  #contact-links > a {
    margin: 0.5em 0.7em;
  }
}

@media (max-width: 375px) {
  #about-title {
    margin-top: 0;
  }

  #projects {
    margin-top: 9em;
  }

  #contact {
    margin-top: 3em;
  }

  i.fa-lg {
    display: none;
  }

  i:not(.fa-lg) {
    display: inline-block;
  }
}

/* Switch */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
